# ----
# Site

title: Real Peachy Bites
url: "https://realpeachybites.github.io/"
baseurl: "/"
google_analytics_key:
newsletter_action: true
disqus_shortname: realpeachybites-github-io

# Values for the jekyll-seo-tag gem (https://github.com/jekyll/jekyll-seo-tag)
logo: /siteicon.png
description: Healthy Food blog
author:
  name: Sandy
  email: realpeachybites@gmail.com
  twitter: bites_real
social:
  name: Real Peachy Bites
  links:
    - https://realpeachybites.github.io/

# -----

# collections
collections:
  category:
    output: true      
  tags:
    output: true      

# Build

timezone: Etc/UTC

paginate: 10
paginate_path: "/:num/"
permalink: pretty

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      push_sidebar_down: true
      print_stylesheet: true
      comments: true
      _options:
        content:
          width: 1560
          height: 2000
        featured_image:
          width: 1560
          height: 2000
  - scope:
      path: ""
    values:
      layout: "default"
  - scope:
      path: "index.html"
    values:
      layout: "default"
      push_sidebar_down: true    

plugins:
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-paginate

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - LICENCE

# -----------
# CloudCannon

social_icons:
  - Facebook
  - Google Plus
  - Instagram
  - LinkedIn
  - Pinterest
  - Tumblr
  - Twitter
  - YouTube
  - RSS

_options:
  author_image:
    width: 500
    height: 500
