---
layout: default
title: Post by Category
permalink: /categoryview/
active: archivebycategory
sitemap: false
---
<h1>Archive by Category</h1>

<h3>Other Archives</h3>

 <p><a style="color: #f88832" href="/monthview" | prepend: "site.baseurl"></a></p>

[By Date ]({{"/monthview" | prepend: site.baseurl}}) | [ By Tag]({{"/tagcloudview" | prepend: site.baseurl}})

<div id="index"> 
{% assign tags = site.categories | sort %}
{% assign sorted_posts = site.posts | sort: 'title' %}
{% for tag in tags %}
<a style="color: #f88832" href="#{{ tag | first | slugify }}">{{ tag | first | replace: '-', ' ' }}({{ tag | last | size }})</a>{% if forloop.last == false %} • {% endif %}{% endfor %}
{% for tag in tags %}
<p><a style="color: #f88832" name="{{ tag | first | slugify }}"></a></p><h3 class="archivetitle">{{ tag | first | replace:'-', ' ' }} {{ tag | last | size }}</h3>
<ul>{% for post in sorted_posts %}{%if post.categories contains tag[0]%}<li><a style="color: #f88832" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> {% if post.author %} • {{ post.author }}{% endif %}{% if post.date %} • {{ post.date | date: "%B %e, %Y" }}<p>{{ post.excerpt | strip_html | truncate: 80 }}</p>{% endif %}</li>{%endif%}{% endfor %}</ul>
{% endfor %}
</div>
