---
layout: default
title: Post by Month
permalink: /monthview/
active: archivebydate
sitemap: false
---
<h1>Archive by Date</h1>

<h3>Other Archive Pages:- </h3>

<a style="color: #f88832" href="/categoryview"><strong>By Date</strong></a> | <a style="color: #f88832" href="/tagsview"><strong>By Tag</strong></a>
 &nbsp;
<div id="index">
    {% for post in site.posts %}
        {% unless post.next %}
            <h2>{{ post.date | date: '%Y' }}</h2>
        {% else %}
            {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
            {% if year != nyear %}
            {% if forloop.index != 1 %}</ul>{% endif %}
                <h2>{{ post.date | date: '%Y' }}</h2>
            {% endif %}
        {% endunless %}

    {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
    {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
    {% if month != nmonth %}
    {% if forloop.index != 1 %}</ul>{% endif %}
        <h2>{{ post.date | date: '%B %Y' }}</h2>
    {% endif %}


    {% if post.link %}
        <h3 class="link-post">
            <a style="color: #f88832" href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
            <a style="color: #f88832" href="{{ post.link }}" target="_blank" title="{{ post.title }}"></a>
    {% else %}
        <p><a style="color: #f88832" href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</p></a> - <p class="date">{{ post.date |  date: "%B %e, %Y" }}</p>
        <p>{{ post.excerpt | strip_html | truncate: 80 }}</p>
    {% endif %}
    {% endfor %}
</div>
