---
title: Home
---
<head>
	<meta name="p:domain_verify" content="c1b704e484fc6f30a49363d530fc3203"/>
</head>
<section class="posts">
	{% for post in paginator.posts %}
		<article class="post">
			{% include post-heading.html post=post %}
			<div class="image">
				<img src="{% include relative-src.html src=post.featured_image %}" alt="{{ post.title }}">
			</div>

			{{ post.excerpt }}

			<p><a class="button" href="{% include relative-src.html src=post.url %}">Read more</a></p>
		</article>
	{% endfor %}

	{% if paginator.total_pages > 1 %}
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{% include relative-src.html src=paginator.previous_page_path %}" class="previous btn">&larr; Newer posts</a>
			{% endif %}

			<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{% include relative-src.html src=paginator.next_page_path %}" class="next btn">Older posts &rarr;</a>
			{% endif %}
		</div>
	{% endif %}
</section>
