.social-icons {
		display: flex;
		justify-content: center;
		margin: 10px 0 0 0;
		a {
			padding: 3px;
			text-decoration: none;

			&:hover svg {
				fill: #fcd4b5;
			}
		}

		svg {
			width: 25px;
			height: 25px;
			fill: #f88832;
		}
	}
