nav {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	background: rgba(255, 255, 255, .1);
	z-index: 999;

	a {
		display: inline-block;
		text-decoration: none;
		padding: 20px 15px;
		color: #f88832;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 1em;		

		&:hover {
			color: #fcd4b5;
			border-bottom: 2 solid #fcd4b5;
		}
	}
}
