.sidebar {
	width: 250px;
	padding: 70px 0 0 0;
	margin: 0 auto;

	@media #{$desktop} {
		margin: 0;
		padding: 0 0 0 70px;
	}

	.author {
		text-align: center;
		p {
			padding: 0;
			margin: 0;
		}
		img {
			width: 150px;
			border-radius: 50%;
			margin: 0 0 10px 0;
		}
	}

	.social-icons {
		display: flex;
		justify-content: center;
		margin: 10px 0 0 0;
		a {
			padding: 3px;
			text-decoration: none;

			&:hover svg {
				fill: #fcd4b5;
			}
		}

		svg {
			width: 25px;
			height: 25px;
			fill: #f88832;
		}
	}
}

.sidebar.push {
	@media #{$desktop} {
		padding-top: 72px;
	}
}
