.sidebar {
	width: 250px;
	padding: 70px 0 0 0;
	margin: 0 auto;

	@media #{$desktop} {
		margin: 0;
		padding: 0 0 0 70px;
	}

	.author {
		text-align: center;
		p {
			padding: 0;
			margin: 0;
		}
		img {
			width: 200px;
			border-radius: 50%;
			margin: 0 0 10px 0;
		}
	}

	.social-icons {
		display: flex;
		justify-content: center;
		margin: 10px 0 0 0;
		a {
			padding: 3px;
			text-decoration: none;

			&:hover svg {
				fill: #fcd4b5;
			}
		}

		svg {
			width: 25px;
			height: 25px;
			fill: #f88832;
		}
	}
}
	.search {
	padding: 100px 0;	
	width: 50%;
	margin: 0 auto;	
}

.archive-cont {
	background-color: #fef1e6;
	border-radius: 0.5em;
	padding: 0.5em 1em 0.5 1em;
	line-height: 0.5em;
}

.sidebar.push {
	@media #{$desktop} {
		padding-top: 72px;
	}
}
