---
layout: default
---

<article class="post">
  {% include post-heading.html post=page post_page=true %} 

  <div class="image">
    <img src="{% include relative-src.html src=page.featured_image %}" alt="{{ page.title }}" />
  </div>
  
    <span class="read-time-cat-link">
      <svg id="i-clock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor"     stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
      <circle cx="16" cy="16" r="14" />
      <path d="M16 8 L16 16 20 20" />
      </svg>
      {% assign words = content | number_of_words %}
      {% if words < 360 %}
       Estimated read time - 1 min.
      {% else %}
       Estimated read time - {{ words | divided_by:180 }}.
      {% endif %} | <img style="width: 20px; height: 20px;" src="/icons/icon-chefs-hat-32.png">
      {% if post %}
      {% assign categories = post.categories %}
      {% else %}
      {% assign categories = page.categories %}
      {% endif %}
      {% for category in categories %}
      <a style="color: #f88832" href="{{site.baseurl}}/categories/#{{category|slugize}}">&#9679;&nbsp;{{category}}</a>
      {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %} | <img style="width: 20px; height: 20px;" src="/icons/icon-chefs-hat-32.png">
      {% if post %}
      {% assign tags = post.tags %}
      {% else %}
      {% assign tags = page.tags %}
      {% endif %}
      {% for tags in tags %}
      <a style="color: #f88832" href="{{site.baseurl}}/categories/#{{category|slugize}}">&#9679;&nbsp;{{tags}}</a>
      {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}    
    </span>
  
    <hr align="center" width="50%">

    <div class="recipe-body"> 
    {{ content }}
    </div>

  <ul id="recipe" class="recipe-overview">
    <li title="Servings">
      {% include recipe-icon.html icon="quantity" %}<span
        >{{ page.recipe.servings }}</span
      >
    </li>
    <li title="Prep Time">
      {% include recipe-icon.html icon="time" %}<span
        >{{ page.recipe.prep }}</span
      >
    </li>
    <li title="Cook Time">
      {% include recipe-icon.html icon="cook" %}<span
        >{{ page.recipe.cook }}</span
      >
    </li>
  </ul>

  <div class="recipe-contents">
    <div class="ingredients">
      <h2>Ingredients</h2>
      {{ page.recipe.ingredients_markdown | markdownify }}
    </div>

    <div class="directions">
      <h2>Directions</h2>
      {{ page.recipe.directions_markdown | markdownify }}
    </div>
  </div>

   <div class="Previous-next" style="align-items: center;">
     <h3>Previous And Next Recipes</h3>
    {% if page.previous.url %}
    <a class="previous" style="color: #f88832" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% endif %} | {% if page.next.url %}
    <a class="next" style="color: #f88832" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
   </div>

  <div class="sharing">
    {% assign share_url = page.url | absolute_url | cgi_escape %}
    <a
      class="facebook"
      href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}"
      >{% include social-icon.html icon="Facebook" %}</a
    >
    <a
      class="twitter"
      href="https://twitter.com/intent/tweet?url={{ share_url }}&amp;text=I'm%20going%20to%20this%20event!"
      >{% include social-icon.html icon="Twitter" %}</a
    >
    <a class="instagram" href="https://instagram.com"
      >{% include social-icon.html icon="Instagram" %}</a
    >
    <a
      class="pinterest"
      href="//pinterest.com/pin/create/link/?url={{ share_url }}&amp;description={{ page.description }}"
      >{% include social-icon.html icon="Pinterest" %}</a
    >
    <a
      class="email"
      href="mailto:?subject=I've%20found%20a%20great%20recipe&amp;body=Check%20it%20out%20-%20{{ share_url }}"
      >{% include social-icon.html icon="Email" %}</a
    >
  </div>

  <div class="relatedPosts">
    <h4>You May Also Enjoy</h4>

      {% assign maxRelated = 4 %}
      {% assign minCommonTags =  1 %}
      {% assign maxRelatedCounter = 0 %}

      {% for post in site.posts %}

      {% assign sameTagCount = 0 %}
      {% assign commonTags = '' %}

      {% for category in post.categories %}
      {% if post.url != page.url %}
        {% if page.categories contains category %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="label label-default">{{ category }}</span> {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
      {% endfor %}

      {% if sameTagCount >= minCommonTags %}
      <div>
      <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}{{ commonTags }}</a></h5>
      </div>
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
      {% endif %}

       {% endfor %}
  </div>

  <div class="cta">
		<h2>More delicious recipes</h2>
		<p>This is one of the many fantastic recipes available on this blog</p>
		<div class="button"><a href="{{ site.baseurl }}/recipes">Check out more recipes</a></div>
	</div>
  <br>
  <hr>
  <br>
  {% if site.disqus_shortname and page.comments %}
  <div id="disqus_thread"></div>
  <script>
    var disqus_shortname = "{{ site.disqus_shortname }}";
    var disqus_config = function() {
      this.page.url = "{{ page.url | prepend: site.url }}";
      this.page.identifier = "{{ page.id }}";
    };
    (function() {
      // DON'T EDIT BELOW THIS LINE
      var d = document,
        s = d.createElement("script");
      s.src = "//" + disqus_shortname + ".disqus.com/embed.js";
      s.setAttribute("data-timestamp", +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript
    >Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript" rel="nofollow"
      >comments powered by Disqus.</a
    ></noscript
  >
  {% endif %}
</article>

<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"
></script>
<script
  type="text/javascript"
  src="{{ site.baseurl }}/js/jquery.imgPin.min.js"
></script>
<script>
  $(function() {
    $(".post img").imgPin();

    $("a[href*=\\#]").on("click", function(event) {
      var el = $(this.hash);
      if (el.length > 0) {
        event.preventDefault();
        $("html,body").animate(
          { scrollTop: $(this.hash).offset().top - 50 },
          500
        );
      }
    });
  });
</script>
